body {
    font: arial;
    font-size: 14px;
    color: red;
    
    background-image: url("http://static5.businessinsider.com/image/547895f6ecad041e359bd36a/the-first-star-wars-episode-vii-trailer-is-here.jpg");

    background-image: url(fireworks-over-wdw.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

